################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CursoWebApiRest/.vs/CursoWebApiRest/v15/Server/sqlite3/db.lock
/CursoWebApiRest/MinhaApi.Api/bin
/CursoWebApiRest/MinhaApi.Api/obj/Debug
**/bin/**
**/obj/**